<li class="shadow rounded-3 p-3 mt-4 m-auto">
    <div><span class="fw-bold">Name: </span><span>{{item.name}}</span></div>
    <div><span class="fw-bold">Category: </span><span>{{item.categories}}</span></div>
    <div><span class="fw-bold">Country: </span><span>{{item.country}}</span></div>
    <div><span class="fw-bold">Price: </span><span>{{item.price}}</span></div>
    <div><span class="fw-bold">In stock: </span><span>{{item.max}}</span></div>
</li>
<!--todo: work on this page so the JSON data is properly shown-->