<li class="shadow rounded-3 p-3 mt-4 m-auto">
    <!-- <div><span class="fw-bold">Name: </span><span>{{item.packages.id}}</span></div> -->
    <div><span class="fw-bold">Category: </span><span>{{item.categories}}</span></div>
    <div><span class="fw-bold">Country: </span><span>{{item.country_name}}</span></div>
    <!-- <div><span class="fw-bold">Price: </span><span>€{{item.packages.price}},-</span></div> -->
    <!-- <div><span class="fw-bold">In stock: </span><span *ngIf="item.packages.amount.length > 0 ; else showStock">{{item.packages.amount}}</span><ng-template #showStock>0</ng-template></div> -->
</li>
<!--todo: refurbish this view to correct data in the right way-->